.achievements {
  background-color: $grey-background;
}

.achievements__container {
  width: 320px;
  margin: 0 auto;
  border: 0;
}

.achievements__title {
  max-width: 220px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 37px;
  text-align: center;
  color: $pink-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.achievements__list {
  @include reset-list;
  margin-right: 22px;
  margin-left: 22px;
  padding-bottom: 27px;
}

.achievements__item {
  padding-bottom: 52px;

  &:last-child {
    padding-bottom: 10px;
  }
}

.achievements__label {
  position: relative;
  display: block;
  margin-left: 68px;
  color: $dark-background;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .achievements {
    background-color: $white;
  }

  .achievements__container {
    width: 592px;
    margin-top: 2px;
    padding-top: 3px;
    padding-bottom: 16px;
    border: 2px solid #e5e5e5;
  }

  .achievements__title {
    max-width: 450px;
    padding-top: 46px;
    padding-right: 32px;
    padding-bottom: 45px;
    padding-left: 32px;
  }

  .achievements__list {
    margin-left: 0;
  }

  .achievements__item {
    padding-bottom: 52px;
  }

  .achievements__label {
    margin-left: 106px;
  }
}

@media (min-width: $desktop-width) {
  .achievements__container {
    width: 936px;
    max-height: 282px;
    padding: 0;
  }

  .achievements__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 876px;
    height: 228px;
    margin-top: 4px;
  }

  .achievements__item {
    padding-left: 0;
  }

  .achievements__label {
    margin-left: 116px;
  }
}
