@media (max-width: $mobile-width) {
  .advantages {
    display: flex;
    flex-flow: column;
    min-width: 320px;
    margin-top: -26px;
    background: linear-gradient(175deg, $white 22%, $grey-background 22%);

    &::after {
      content: "";
      position: relative;
      display: block;
      margin: 0 auto;
      width: 157px;
      height: 320px;
      background-image: url("../img/iphone-screen-mobile@1x.png");
    }
  }
}

.advantages__wrapper {
  padding-bottom: 15px;
}

.advantages__slogan {
  width: 222px;
  margin: 0 auto;
  padding-bottom: 33px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.advantages__list {
  @include reset-list;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-top: 68px;
  margin-bottom: 13px;
}

.advantages__item {
  width: 259px;
  margin-bottom: 30px;
}

.advantages__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.advantages__text {
  margin: 0;
  margin-top: 12px;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 100%;
    margin-top: -20px;
    width: 100%;
    margin-top: -20px;
    background: linear-gradient(174deg, #ffffff 33%, #f2f2f2 10%);
  }

  .advantages__wrapper {
    padding: 0;
  }

  .advantages__slogan {
    @include reset-text;
    width: 685px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
  }

  .advantages__container {
    display: flex;
    align-items: flex-end;
    width: 610px;
    margin: 0 auto;
    text-align: left;

    &::before {
      content: "";
      position: relative;
      width: 268px;
      height: 480px;
      margin-right: 38px;

      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
    }
  }

  .advantages__list {
    margin-top: 120px;
    margin-bottom: 0px;
  }

  .advantages__title {
    text-align: left;
  }

  .advantages__text {
    text-align: left;
  }

  .advantages__item {
    width: 255px;
  }

}

@media (min-width: $desktop-width) {
  .advantages {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3px;
    background: linear-gradient(176deg, #ffffff 37%, #f2f2f2 37%);
  }

  .advantages__title {
    @include reset-text;
    max-width: 236px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }

  .advantages__slogan {
    @include reset-text;
    width: 800px;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
  }

  .advantages__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-top: -40px;
    text-align: center;

    &::before {
      display: none;
    }
  }

  .advantages__list {
    @include reset-list;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 940px;
    margin-top: 113px;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 564px;

    &--mood {
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 236px;
        height: 562px;
        margin-left: -10px;
        background-image: url("../img/iphone-screen-1-desktop@1x.png");
        background-repeat: no-repeat;
        background-position-x: -15px;
      }
    }

    &--world {
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 236px;
        height: 562px;

        background-image: url("../img/iphone-screen-2-desktop@1x.png");
        background-repeat: no-repeat;
        background-position-x: -15px;
      }
    }

    &--friends {
      margin-right: -5px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 236px;
        height: 562px;

        background-image: url("../img/iphone-screen-3-desktop@1x.png");
        background-repeat: no-repeat;
        background-position-x: -15px;
      }
    }
  }

  .advantages__text {
    @include reset-text;
    max-width: 240px;
    padding-top: 25px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}
