$dark-background: #283645;
$light-background: #ffffff;
$grey-background:#f2f2f2;

.advantages {
  display: flex;
  flex-flow: column;

  background: linear-gradient(170deg, #ffffff 40%, #f2f2f2 10%);
}

.advantages__slogan {
  margin-top: 46px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.advantages__list {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 119px;
  text-align: center;
  list-style: none;
}

.advantages__item {
  width: 259px;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.advantages__text {
  font-size: 14px;
}
