.apps__container {
  @include reset-fieldset;
  width: 320px;
  margin: 0 auto;
  margin-top: 38px;
  border: 0;
}

.apps__title {
  max-width: 220px;
  margin: 0 auto;
  text-align: center;
  color: $pink-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.apps__list {
  @include reset-list;
  margin-top: 39px;
  margin-right: 20px;
  margin-left: 20px;
}

.apps__item {
  padding-bottom: 45px;

  &:last-child {
    padding-bottom: 47px;
  }
}

.apps__label {
  position: relative;
  display: block;
  margin-left: 70px;
  color: $dark-background;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .apps {
    background-color: $white;
  }

  .apps__container {
    width: 616px;
    margin-top: 47px;
    padding-bottom: 0;
    border: 2px solid #e5e5e5;
  }

  .apps__title {
    max-width: 450px;
    padding-right: 33px;
    padding-left: 32px;
  }

  .apps__list {
    margin: 0;
    margin-top: 48px;
    margin-left: 52px;
    padding-bottom: 12px;
  }

  .apps__label {
    margin-left: 65px;
  }
}

@media (min-width: $desktop-width) {
  .apps {
    padding-top: 2px;
  }

  .apps__container {
    width: 431px;
    margin: 0;
    padding: 0;
  }

  .apps__title {
    padding-top: 3px;
  }

  .apps__list {
    margin-top: 50px;
    margin-left: 42px;
    padding-bottom: 11px;
  }

  .apps__label {
    margin-left: 93px;
  }
}
