.checkbox + .achievements__label::before {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  margin-top: -5px;
  margin-left: -70px;
  border: 2px solid #e5e5e5;
  background-color: $white;
}

.checkbox + .achievements__label:hover::before,
.checkbox + .achievements__label:focus::before {
  border-color: $dark-background;
}

.checkbox + .achievements__label:active::before {
  border-color: $pink-text;
}

.checkbox:checked + .achievements__label::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/icon-yes--pink.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
  background-position-y: center;

  &:hover::before {
    border-color: $dark-background;
  }
}

@media (min-width: $tablet-width) {
  .checkbox + .achievements__label::before {
    margin-left: -60px;
  }
}

@media (min-width: $desktop-width) {
  .checkbox + .achievements__label::before {
    margin-left: -60px;
  }
}
