.comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 15px;
  text-align: left;
  background-color: #f2f2f2;
}

.comment__wrapper {
  padding-left: 17px;
  padding-right: 17px;
}

.comment__publication-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment__username {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.comment__publication-date {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.6;
}

.comment__text {
  @include reset-text;
  max-width: 231px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .comment {
    min-height: 155px;

    &--panorama {
      position: relative;
      display: flex;
      width: 620px;
      min-height: 121px;
      padding-bottom: 0;
    }
  }

  .comment__text {
    max-width: 519px;
  }
}

@media (min-width: $desktop-width) {
  .comment {
    min-height: 155px;

    &--panorama {
      position: relative;
      width: 940px;
      min-height: 96px;
      padding-bottom: 0;
    }
  }
}
