.comment {
  width: 211px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 25px;
  padding-right: 40px;
  padding-bottom: 28px;
  padding-left: 27px;
  text-align: left;
  background-color: $grey-background;
}

.comment__publication-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment__username {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.comment__publication-date {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.6;
}

.comment__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .comment {
    min-height: 155px;
  }

  .comment__of-the-day {
    width: 535px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .comment {
    min-height: 155px;
  }

  .comment__of-the-day {
    width: 875px;
    padding-bottom: 0;
  }
}
