.contacts {
  padding-top: 42px;
  background-color: $white;
}

.contacts__container {
  width: 320px;
  margin: 0 auto;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 320px;
    height: 123px;
    margin-top: -20px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position-x: center;
  }
}

.contacts__subtitle {
  max-width: 229px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.contacts__list {
  @include reset-list;
  margin-top: 36px;
}

.contacts__item {
  font-size: 24px;
  font-weight: 300;
  color: $pink-text;
}

.contacts__phone {
  padding-bottom: 24px;
}

.contacts__email {
  padding-bottom: 27px;
  padding-left: 5px;
}

.contacts__adress {
  padding-bottom: 32px;
}

.contacts__title {
  @include reset-text;
  display: block;
  padding-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  color: $dark-background;

  &--e-mail {
    padding-bottom: 6px;
  }

  &--adress {
    padding-bottom: 7px;
  }
}

.contacts__text {
  @include reset-text;
  color: $pink-text;

  &:hover,
  &:focus {
    color: $dark-background;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 45px;
  }

  .contacts__container {
    width: 660px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 660px;
      height: 123px;
      margin-top: 0;
      background-image: url("../img/bg-triangle-white-footer.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: center;
    }
  }

  .contacts__title {
    padding-bottom: 8px;
  }

  .contacts__subtitle {
    max-width: 376px;
    font-size: 40px;
    font-weight: 300;
    line-height: 47px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 620px;
    margin: 0 auto;
    margin-top: 46px;
  }

  .contacts__item {
    padding-bottom: 50px;
  }

  .contacts__adress {
    padding-bottom: 31px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 63px;
  }

  .contacts__container {
    width: 960px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 1198px;
      height: 123px;
      margin-left: -117px;
      background-image: url("../img/bg-triangle-white-footer.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: center;
    }
  }

  .contacts__subtitle {
    max-width: 466px;
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__list {
    justify-content: space-between;
    width: 845px;
    margin-top: 59px;
  }

  .contacts__item {
    padding-bottom: 5px;
  }

  .contacts__title {
    padding-bottom: 25px;
  }

  .contacts__phone {
    order: 1;
  }

  .contacts__email {
    order: 3;
  }

  .contacts__adress {
    order: 2;
    margin-left: 35px;
  }
}
