.copyright {
  display: flex;
  align-items: center;
}

.copyright__link {
  padding-top: 2px;
  padding-left: 7px;
  fill: $pink-text;
  outline: none;

  &:hover,
  &:focus {
    fill: $dark-background;
  }

  &:active {
    opacity: 0.5;
  }
}

.copyright__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .copyright__icon {
    padding-top: 4px;
    padding-left: 7px;

    &--contest {
      padding-top: 5px;
      padding-left: 8px;
    }
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
  }

  .copyright__icon {
    padding-top: 5px;
  }
}
