.download {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-width: 320px;
  min-height: 670px;
  top: -72px;
  color: $white;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 462px;
  background-position-x: center;
  background-position-y: 5px;
  background-color: $dark-background;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &::before {
    content: "";
    display: block;
    margin-top: 181px;
    width: 320px;
    height: 320px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 258px 286px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
    }
  }
}

.download__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -6px;
  padding-bottom: 16px;
}

.download__button {
  display: block;
  width: 275px;
  margin-top: 319px;
  padding-top: 13px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 55px;

  &:hover,
  &:focus {
    color: $pink-text;
    background-color: $white;
  }

  &:active {
    color: rgba($color: $pink-text, $alpha: 0.3);
  }
}

.download__slogan {
  width: 225px;
  margin-top: -399px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}

.download__list {
  @include reset-list;
  display: flex;
  margin-top: 31px;
}

.download__item {
  padding-bottom: 45px;

  &:last-child {
    padding-bottom: 25px;
  }
}

.app-store {
  margin-right: 34px;
}

.google-play {
  margin-top: 8px;
  margin-right: 37px;
}

.microsoft-store {
  margin-top: 12px;
}

.download__info {
  width: 240px;
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .download {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 729px;
    top: -112px;
    background-color: $dark-background;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: cover;
    }

    &::before {
      display: none;
    }
  }

  .download__container {
    display: flex;
    justify-content: space-between;
    width: 660px;
    min-height: 550px;
    top: 24px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 645px;
      height: 545px;
      top: 184px;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-repeat: no-repeat;
      background-position-x: -20px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-size: cover;
      }
    }
  }

  .download__wrapper {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 112px;
    margin-left: 20px;
  }

  .download__slogan {
    @include reset-text;
    display: block;
    width: 186px;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
  }

  .download__button {
    width: 294px;
    margin-top: 32px;
  }

  .download__info {
    width: 300px;
    margin-top: 32px;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }

  .download__list {
    margin-top: 45px;
  }

  .download__item {
    padding-left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .download {
    position: relative;
    width: 100%;
    height: 965px;
    margin-top: -110px;
    background-color: $dark-background;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 2560px 853px;
    background-position-y: 110px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .download__container {
    width: 945px;
    min-height: 645px;

    &::before {
      content: "";
      position: absolute;
      width: 945px;
      height: 853px;
      top: 321px;
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-repeat: no-repeat;
      background-position-x: 18px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-size: auto 645px;
      }
    }
  }

  .download__wrapper {
    margin-top: 170px;
    margin-left: 1px;
    padding-bottom: 0;
  }

  .download__slogan {
    display: block;
    width: 231px;
    margin: 0;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
  }

  .download__info {
    width: 300px;
    margin: 0;
    margin-top: 52px;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }

  .download__button {
    margin-top: 52px;
    padding-bottom: 18px;
    font-size: 21px;
    font-weight: 700;
    line-height: 18px;
    outline: none;
  }

  .download__list {
    margin-top: 65px;
  }

  .download__item {
    padding-bottom: 44px;
  }
}
