.emotion__container {
  width: 320px;
  margin: 0 auto;
  margin-top: 32px;
  border: 0;
}

.emotion__list {
  @include reset-list;
  margin-right: 22px;
  margin-left: 22px;
}

.emotion__title {
  display: block;
  margin: 0 auto;
  margin-top: 41px;
  text-align: center;
  color: $pink-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.emotion__input-text {
  display: flex;
  width: 280px;
  height: 201px;
  resize: none;
  overflow: auto;
  margin: 0 auto;
  margin-top: 5px;
  padding-top: 14px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .emotion__container {
    width: 592px;
    margin-top: 51px;
    padding-top: 9px;
    border: 2px solid #e5e5e5;
  }

  .emotion__title {
    padding-right: 32px;
    padding-left: 32px;
  }

  .emotion__list {
    margin: 0 auto;
  }

  .emotion__input-text {
    width: 500px;
    height: 193px;
    margin-top: 22px;
    margin-bottom: 41px;
    padding-top: 14px;
    padding-left: 19px;
  }
}

@media (min-width: $desktop-width) {
  .emotion__container {
    width: 938px;
    padding: 0;
    box-sizing: border-box;
  }

  .emotion__input-text {
    width: 819px;
    height: 128px;
    margin-top: 28px;
    margin-bottom: 43px;
    padding-top: 15px;
    padding-left: 18px;
  }
}
