.form-contest {
  display: flex;
  flex-direction: column;
  padding-top: 34px;
}

.form-contest__list {
  @include reset-list;
  margin-right: 22px;
  margin-left: 22px;
}

.form-contest__apps {
  background-color: $grey-background;
}

.form-contest__button {
  display: block;
  width: 276px;
  min-height: 63px;
  margin: 0 auto;
  margin-top: 42px;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid $green;
  background-color: $green;

  &:hover,
  &:focus {
    border: 2px solid $dark-green;
    background-color: $dark-green;
  }

  &:active {
    color: rgba($color: $white, $alpha: 0.3);
  }
}

.form-contest__legend {
  display: block;
  margin-top: 35px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  &--full {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .form-contest {
    padding-top: 65px;
  }

  .form-contest__container {
    width: 617px;
    margin: 0 auto;
  }

  .form-contest__user-name {
    order: 1;
  }

  .form-contest__apps {
    order: 2;
  }

  .form-contest__user-contacts {
    order: 3;
  }

  .form-contest__achievements {
    order: 4;
  }

  .form-contest__emotion {
    order: 5;
  }

  .form-contest__send {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 6;
  }

  .form-contest__button {
    width: 296px;
    margin: 0;
    margin-top: 68px;
  }

  .form-contest__legend {
    margin-top: 70px;

    &--full {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-contest {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 938px;
    margin: 0 auto;
  }

  .form-contest__button {
    margin-top: 67px;
  }

  .form-contest__send {
    width: 936px;
  }

  .form-contest__legend--full {
    display: inline;
  }
}
