.intro {
  display: flex;
  min-height: 237px;
  margin-top: -66px;
  color: $white;
  background-color: $dark-background;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.intro__title {
  display: flex;
  width: 230px;
  margin: 0 auto;
  margin-top: 97px;
  padding-bottom: 55px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;

  &--contest {
    margin-top: 95px;
    padding-bottom: 54px;
    line-height: 29px;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    min-height: 440px;
    margin-top: -110px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .intro__title {
    padding-top: 83px;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;

    &--photos {
      width: 348px;
    }

    &--contest {
      width: 570px;
      padding-top: 85px;
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 394px;
    margin-top: -110px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 2650px 853px;
    background-position-x: center;
    background-position-y: 0;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .intro__title {
    padding-top: 76px;

    &--contest {
      width: 839px;
      padding-top: 77px;
    }
  }
}
