.like {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 20px;
  padding-left: 19px;
}

.like__heart {
  width: 13px;
  height: 13px;
  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  border: none;
}

.like__count {
  margin-left: 13px;
  color: $pink-text;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .like {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 30px;
    padding-right: 31px;
    padding-bottom: 45px;

    &--panorama {
      position: absolute;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      min-width: 118px;
      top: 11px;
      right: 11px;
      padding-right: 17px;
    }
  }

  .like__count {
    margin-left: -2px;
  }


}

@media (min-width: $desktop-width) {
  .like {
    padding-top: 13px;
    padding-left: 28px;
    padding-bottom: 22px;

  &--panorama {
    position: absolute;
    top: 9px;
    right: 14px;
  }
}

.like__heart {

  &--panorama {
    padding-right: 1px;
  }
}
}
