.main-nav {
  position: relative;
  z-index: 1;
}

.main-nav__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (max-width: 1199px) {
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--opened .main-nav__cross {
    display: block;
    width: 23px;
    height: 22px;
  }

  .main-nav--opened .main-nav__burger {
    display: none;
  }

  .main-nav--closed .main-nav__burger {
    display: block;
    width: 50px;
    height: 24px;
  }

  .main-nav--closed .main-nav__cross {
    display: none;
  }

  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav__toggle {
    @include reset-button;
    position: absolute;
    top: -50px;
    right: 14px;
    height: 24px;
    text-indent: -9999px;
    outline: none;
    fill: $white;

    &:hover,
    &:focus {
      fill: $pink-text;
    }

    &:active {
      fill: $pink-text;
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    top: -70px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .main-nav__toggle {
    display: none;
  }
}
