.map__container {
  position: relative;
  z-index: -1;
  width: 320px;
  margin: 0 auto;
  margin-top: -437px;
}

.map__image {
  width: 320px;
}


@media (min-width: $tablet-width) {
  .map__container {
    width: 660px;
    height: 825px;
    margin-top: -426px;
  }

  .map__image {
    width: 660px;
    height: 848px;
    margin-top: 102px;
  }
}

@media (min-width: $desktop-width) {
  .map__container {
    width: 1200px;
    height: 830px;
    margin-top: -329px;
    overflow: hidden;
  }

  .map__image {
    width: 1200px;
    height: 976px;
    margin-top: 51px;
  }
}
