.map__container {
  position: relative;
  z-index: -1;
  width: 320px;
  margin: 0 auto;
  margin-top: -437px;
}

.map__image {
  width: 320px;
}


@media (min-width: $tablet-width) {
  .map__container {
    width: 660px;
    height: 826px;
    margin-top: -451px;
  }

  .map__image {
    width: 700px;
    height: 826px;
  }
}

@media (min-width: $desktop-width) {
  .map__container {
    width: 1200px;
    height: 847px;
    margin-top: -329px;
    overflow: hidden;
  }

  .map__image {
    width: 2500px;
    height: 850px;
  }
}
