.page-footer {
  background-color: $white;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
}

.page-footer__logo {
  // margin-top: 39px;
  margin-top: 54px;
}

.page-footer__logo-image {
  &:hover,
  &:focus {
    fill: $pink-text;
  }

  &:active {
    fill: $dark-background;
    opacity: 0.3;
  }
}

.page-footer__social {
  margin-top: 36px;
}

.page-footer__copyright {
  margin-top: 0;
}

@media (max-width: $mobile-width) {
  .page-footer--index {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 620px;
    margin: 0 auto;
    margin-top: 0;
  }

  .page-footer__logo {
    margin-top: 85px;
    margin-right: 75px;

    &--contest {
      margin-top: 39px;
    }
  }

  .page-footer__social {
    &--contest {
      margin-top: 78px;
    }
  }

  .page-footer__copyright {
    &--contest {
      margin-top: 54px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
  }

  .page-footer__container {
    width: 945px;
    min-height: 188px;
    margin: 0 auto;
  }

  .page-footer__logo {
    margin: 0;
    margin-right: 238px;
    margin-left: 3px;
  }

  .page-footer__social {
    &--contest {
      margin-top: 34px;
    }
  }

  .page-footer__copyright {
    &--contest {
      margin-top: 9px;
    }
  }
}
