.page-header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
  background-color: $dark-background;
}

.page-header__container {
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  fill: $white;
  outline: none;

  &:hover,
  &:focus {
    fill: $pink-text;
  }

  &:active {
    fill: $white;
    opacity: 0.3;
  }
}

.page-header__logo-image {
  min-height: 46px;
  margin-top: 21px;
  padding-left: 20px;

  &--tablet,
  &--desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 110px;
  }

  .page-header__container {
    width: 660px;
    margin: 0 auto;
  }

  .page-header__logo-image {
    width: 147px;
    height: 40px;
    padding-bottom: 35px;

    &--tablet {
      display: inline;
      padding-top: 6px;
    }

    &--mobile {
      display: none;
    }
  }
}

@media (max-width: 959px) {
  .page-header {
    &--close {
      background-color: rgba(0, 0, 0, 0.3);
    }

    &--open {
      background-color: $dark-background;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 110px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;
  }

  .page-header__logo-image {
    width: 147px;
    height: 40px;
    padding-top: 5px;
    padding-left: 0;

    &--desktop {
      display: inline;
      vertical-align: middle;
    }

    &--tablet {
      display: none;
    }
  }
}
