.page-footer {
  color: $dark-background;
  background-color: $white;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
}

.page-footer__logo {
  margin-top: 54px;
  cursor: pointer;
  outline: none;

  &--photo {
    margin-top: 39px;
  }

  &:hover,
  &:focus {
    fill: $pink-text;
  }

  &:active {
    fill: $dark-background;
    opacity: 0.3;
  }
}

.page-footer__social {
  margin-top: 36px;
  margin-bottom: 36px;
}

.page-footer__copyright {
  margin-top: 0;
}

@media (max-width: $mobile-width) {
  .page-footer--index {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-height: 128px;
  }

  .page-footer__container {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 620px;
    margin: 0 auto;
    margin-top: 0;
  }

  .page-footer__logo {
    margin-top: 36px;
    margin-right: 75px;

    &--index {
      margin-top: 7px;
    }

    &--photo {
      margin-top: 6px;
    }

    &--contest {
      margin-top: 59px;
    }
  }

  .page-footer__social {
    margin-top: 38px;
    margin-right: 92px;
    margin-bottom: 19px;

    &--contest {
      margin-top: 86px;
    }
  }

  .page-footer__copyright {
    margin-top: 21px;

    &--contest {
      margin-top: 72px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
  }

  .page-footer__container {
    width: 945px;
    min-height: 188px;
    margin: 0 auto;
  }

  .page-footer__logo {
    margin: 0;


    &--index {
      margin-right: 235px;
      margin-left: 2px;
    }

    &--photo {
      margin-top: 50px;
      margin-right: 238px;
      margin-left: 2px;
    }

    &--contest {
      margin-top: -6px;
      margin-right: 239px;
      margin-left: 3px;
    }
  }

  .page-footer__social {
    &--index {
      margin-top: 27px;
      margin-right: 229px;
    }

    &--photo {
      margin-top: 83px;
      margin-right: 225px;
    }

    &--contest {
      margin-top: 28px;
      margin-right: 223px;
    }
  }

  .page-footer__copyright {
    margin-top: 64px;

    &--index {
      margin-top: 8px;
    }

    &--contest {
      margin-top: 9px;
    }
  }
}
