.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-top: 55px;
}

@media (max-width: $mobile-width) {
  .page-footer--index {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 620px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .page-footer__logo {
    margin: 0;
    margin-right: 75px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    width: 940px;
    margin: 0 auto;
    margin-top: 25px;
  }

  .page-footer__logo {
    margin: 0;
    margin-right: 238px;
  }
}
