.photo {
  color: $dark-background;
}

.photo__image {
  display: block;
}

.photo__sticker {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 36px;
  right: 31px;
  background-color: $pink-text;
  color: $white;
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.photo__link-full {
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .photo__image-wrapper {
    position: relative;
  }

  .photo__image {
    width: 300px;
    height: 300px;

    &--panorama {
      width: 660px;
      height: 509px;
    }
  }

  .photo__sticker {
    top: 57px;
    right: 20px;
  }

  .photo__panorama {
    flex-grow: 1;
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .photo__panorama {
    width: 100%;
    flex-grow: 1;
  }

  .photo__image {
    width: 300px;
    height: 400px;

    &--panorama {
      width: 1200px;
      height: 506px;
    }
  }

  .photo__sticker {
    top: 54px;
    right: 8px;
  }

  .photo__link-full {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }
}
