.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 48px;
  background-color: $white;
}

.photos__text {
  width: 251px;
  margin-top: 45px;
  margin-right: 39px;
  margin-bottom: 49px;
  margin-left: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.photo__sticker {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 36px;
  left: 50%;
  background-color: $pink-text;
  color: $white;
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.photos__list {
  @include reset-list;
  margin-bottom: 23px;
}

.photos__item {
  text-align: center;

  &--car {

  }
}

.photos__subtitle {
  @include reset-text;
  width: 255px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}


@media (min-width: $tablet-width) {
  .photos {
    display: flex;
    flex-wrap: wrap;
    width: 680px;
    margin: 0 auto;
    padding-bottom: 69px;
  }

  .photo__image-wrapper {
    position: relative;
  }

  .photo__image {
    width: 300px;
    height: 300px;
  }

  .photo__sticker {
    top: 56px;
    left: 500px;
  }

  .photos__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    margin: 0;
    padding: 0;
    padding-top: 51px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 45px;
    list-style: none;
  }

  .photo__panorama {
    flex-grow: 1;
    width: 620px;
  }

  .photo__image--panorama {
    width: 660px;
    height: 509px;
  }

  .photos__text {
    width: 536px;
    margin-top: 93px;
    margin-bottom: 75px;
    font-size: 18px;
  }

  .photos__subtitle {
    width: 450px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .photos {
    width: 1200px;
    padding-bottom: 66px;
  }

  .photos__list {
    width: 940px;
    margin: 0 auto;
    padding-top: 49px;
    padding-bottom: 5px;
  }

  .photos__item {
    padding-bottom: 56px;
  }

  .photo__panorama {
    width: 100%;
    flex-grow: 1;
  }

  .photo__image {
    width: 300px;
    height: 400px;

    &--panorama {
      width: 100%;
      height: 506px;
    }
  }

  .photos__text {
    width: 636px;
    margin-top: 94px;
    margin-bottom: 88px;
  }

  .photo__sticker {
    top: 54px;
    left: 930px;
  }
}
