$dark-background: #283645;
$light-background: #ffffff;
$grey-background:#f2f2f2;
$light-text: #ffffff;
$pink-text: #d22856;

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light-background;
}

.photos__text {
  width: 241px;
  margin-top: 54px;
  margin-right: 39px;
  margin-bottom: 56px;
  margin-left: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.photos__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photos__item {
  text-align: center;
}
