.radio + .apps__label::before {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  margin-top: -4px;
  margin-left: -70px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: $white;
}

.radio:checked + .apps__label::before {
  content: "\2022";
  position: absolute;
  display: block;
  margin-top: -4px;
  text-align: center;
  color: $pink-text;
  font-size: 62px;
}

@media (min-width: $tablet-width) {
  .radio + .apps__label::before {
    margin-top: -3px;
    margin-left: -59px;
  }
}

@media (min-width: $desktop-width) {
  .radio + .apps__label::before {
    margin-top: -3px;
    margin-left: -60px;
  }
}
