.rates {
  padding-top: 114px;
  background: linear-gradient(175deg, $white 15%, $grey-background 15%);
}

.rates__container {
  margin: 0 auto;
}

.rates__table {
  margin: 0 auto;
  margin-top: 15px;
  background-color: $white;
  border: 2px solid $white;
  border-collapse: collapse;
}

.rates__title {
  @include reset-text;
  width: 276px;
  height: 100px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: $white;
  background-color: $dark-background;
  border: 2px solid $white;
  border-collapse: collapse;

  &--empty {
    background-color: $grey-background;
  }
}

.rates__price {
  @include reset-text;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.rates__switch {
  @include reset-list;
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 48px;
}

.rates__option {
  width: 276px;
height: 57px;
  border: 2px solid #e5e5e5;
  border-collapse: collapse;

  &--yes {
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }

  &--no {
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
}

@media (min-width: $tablet-width) {
  .rates {
    padding-top: 110px;
    padding-bottom: 63px;
    background: linear-gradient(176deg, #ffffff 16%, #f2f2f2 16%);
  }

  .rates__table {
    margin-top: 0;
  }

  .rates__title {
    width: 152px;
height: 75px;
  }

  .rates__option {
    width: 152px;
height: 45px;
font-size: 14px;
  }

  .rates__switch {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .rates__price {
    font-size: 24px;
  }

  .rates__title {
    width: 233px;
    height: 94px;
  }

  .rates__option {
    width: 234px;
    height: 59px;
    padding-left: 24px;
    font-size: 18px;
  }

}
