.rates {
  padding-bottom: 39px;
  background: linear-gradient(176deg, $white 12%, $grey-background 10%);
}

.rates__container {
  position: relative;
  margin-top: 0;
  overflow: hidden;
  text-align: center;
  list-style: none;
}

.rates__table {
  position: relative;
  width: 252.1%;
  left: 50%;
  margin-top: 133px;
  margin-bottom: 34px;
  border-collapse: collapse;
  transform: translateX(-50%);
}

.rates__object,
.rates__item {
  border: 2px solid #e5e5e5;
  background-color: $white;
}

.rates__strings > th:first-child {
  display: none;
}

.rates__title {
  position: relative;
  width: 276px;
  padding: 20px;
  background-color: $dark-background;
  background-clip: padding-box;
  box-sizing: border-box;

  &:nth-child(2) {
    border-right: 2px solid transparent;
  }

  &:last-child {
    border-left: 2px solid transparent;
  }

  &--hit {
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-position-x: -1px;
  }


  &--hit::after {
    content: "Хит";
    position: absolute;
    top: 15px;
    left: 8px;
    transform: rotate(-45deg);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.rates__subtitle {
  margin-top: -4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 31px;
  color: #ffffff;
  text-transform: uppercase;
}

.rates__price {
  font-size: 24px;
  font-weight: 300;
  line-height: 31px;
  color: #ffffff;
  text-transform: uppercase;
}

.rates__item {
  position: relative;
  height: 61px;
  padding: 0 22px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  color: $dark-background;
  text-transform: uppercase;
  background-clip: padding-box;
  border-top: none;
  box-sizing: border-box;
}

.rates__option {
  position: absolute;
  display: block;
  width: 32px;
  height: 27px;
  top: 17px;
  right: 14px;
  font-size: 0;

  &--yes {
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-size: 31px 23px;
  }

  &--no {
    top: 14px;
    right: 13px;
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
  }
}

.rates__title--empty {
  display: none;
}

.rates__switch {
  @include reset-list;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 8px;
}

@media (min-width: $tablet-width) {
  .rates {
    padding-bottom: 6px;
    background: linear-gradient(176deg, #ffffff 16%, #f2f2f2 10%);
  }

  .rates__table {
    width: 616px;
    margin: 0 auto;
    margin-top: 109px;
    margin-bottom: 62px;
    padding: 0 20px;
    left: 0;
    transform: none;
  }

  .rates__strings > th:first-child {
    display: table-cell;
  }

  .rates__title--empty {
    display: block;
    background-color: $grey-background;
  }

  .rates__title {
    width: 25%;
    padding: 11px 0 8px;

    &--hit {
      background-size: 61px 61px;
    }

    &--hit::after {
      top: 7px;
      left: 7px;
    }
  }

  .rates__subtitle {
    margin-top: 1px;
    font-size: 16px;
    line-height: 29px;
  }

  .rates__price {
    font-size: 18px;
    line-height: 29px;
  }

  .rates__object {
    padding-left: 16px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: $dark-background;
  }

  .rates__item {
    height: 47px;
  }

  .rates__option-name {
    display: none;
  }

  .rates__option {
    position: relative;
    top: 2px;
    left: 3px;
    margin: auto;

    &--no {
      top: -1px;
    }
  }

  .rates__switch {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .rates {
    padding-top: 65px;
    background: linear-gradient(176deg, #ffffff 17.5%, #f2f2f2 10%);
  }

  .rates__container {
    padding-top: 5px;
    padding-bottom: 27px;
  }

  .rates__table {
    width: 938px;
    margin-top: 115px;
  }

  .rates__title {
    height: 98px;
    padding-top: 2px;

    &--hit::after {
      top: 11px;
      left: 11px;
    }
  }

  .rates__subtitle {
    margin-top: 0;
    font-size: 18px;
  }

  .rates__price {
    font-size: 24px;
  }

  .rates__object {
    padding-left: 20px;
    font-size: 18px;
  }

  .rates__item {
    height: 61px;
  }

  .rates__option {
    top: 3px;
    left: 0;

    &--no {
      top: -1px;
    }
  }
}
