@media (max-width: $mobile-width) {
  .reviews__button {
    display: none;
  }
}

.reviews {
  position: relative;
  z-index: 1;
  margin-top: -45px;
  background-color: $white;
}

.reviews__list {
  @include reset-list;
  text-align: center;
}

.reviews__switch {
  @include reset-list;
}

@media (max-width: $mobile-width) {
  .reviews__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    margin: 0 auto;
  }

  .reviews__author {
    @include reset-text;
    margin-top: 44px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
  }

  .reviews__info {
    display: none;
  }

  .reviews__text {
    max-width: 286px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }

  .reviews__switch {
    margin-top: 18px;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 94px;
  }

  .reviews__container {
    width: 660px;
    margin: 0 auto;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author {
    @include reset-text;
    order: 2;
    font-size: 20px;
    font-weight: 700;
  }

  .reviews__info {
    @include reset-text;
    order: 3;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
  }

  .reviews__text {
    @include reset-text;
    order: 1;
    padding-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  .reviews__switch {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 26px;
  }

  .reviews__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 183px;
    padding-bottom: 65px;
  }

  .reviews__container {
    width: 940px;

    &::before {
      content: "";
      position: absolute;
      display: flex;
      width: 79px;
      height: 63px;
      margin-top: -110px;
      margin-left: 440px;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .reviews__author {
    padding-bottom: 3px;
    font-size: 24px;
  }

  .reviews__info {
    font-size: 18px;
  }

  .reviews__text {
    max-width: 690px;
    margin: 0 auto;
    padding-bottom: 35px;
  }

  .reviews__switch {
    display: none;
  }

  .reviews__button {
    @include reset-button;
    display: block;
    width: 22px;
    height: 41px;

    &--left {
      position: absolute;
      margin-top: -165px;
      margin-left: 10px;
      background-image: url("../img/icon-review-arrow-left.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--right {
      position: absolute;
      margin-top: -165px;
      margin-left: 927px;
      background-image: url("../img/icon-review-arrow-right.svg");
    }
  }

  .reviews__toggle {
    display: block;
  }
}
