.reviews {
  color: $dark-background;
}

@media (max-width: $mobile-width) {
  .reviews__button {
    display: none;
  }

  .reviews {
    position: relative;
    z-index: 1;
    margin-top: -45px;
    background-color: $white;
  }

  .reviews__list {
    @include reset-list;
    text-align: center;
  }

  .reviews__switch {
    @include reset-list;
    margin-top: 18px;
  }

  .reviews__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    margin: 0 auto;
  }

  .reviews__author {
    @include reset-text;
    margin-top: 42px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
  }

  .reviews__info {
    display: none;
  }

  .reviews__text {
    max-width: 283px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width) {
  .reviews__container {
    width: 660px;
    margin: 0 auto;
  }

  .reviews__list {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews__author {
    @include reset-text;
    order: 2;
    font-size: 20px;
    font-weight: 700;
  }

  .reviews__info {
    @include reset-text;
    order: 3;
    padding-top: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
  }

  .reviews__text {
    @include reset-text;
    order: 1;
    padding-bottom: 38px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  .reviews__switch {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 0;
  }

  .reviews__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 181px;
    padding-bottom: 0;
  }

  .reviews__container {
    width: 940px;

    &::before {
      content: "";
      position: absolute;
      display: flex;
      width: 79px;
      height: 63px;
      margin-top: -110px;
      margin-left: 433px;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .reviews__author {
    font-size: 24px;
  }

  .reviews__info {
    padding-top: 0;
    font-size: 18px;
  }

  .reviews__text {
    max-width: 690px;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 37px;
  }

  .reviews__switch {
    display: none;
  }

  .reviews__button {
    @include reset-button;
    display: block;
    width: 22px;
    height: 41px;
    outline: none;
    fill: $dark-grey;
    cursor: pointer;

    &--left {
      position: absolute;
      margin-top: -165px;
      margin-left: -6px;
    }

    &--right {
      position: absolute;
      margin-top: -165px;
      margin-left: 912px;
    }

    &:hover,
    &:focus {
      fill: $grey-1;
    }

    &:active {
      fill: $light-grey;
    }
  }

  .reviews__toggle {
    display: block;
  }
}
