.social__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 177px;
}

.social__link {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  text-align: center;
  fill: $pink-text;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 3px solid $dark-background;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  &--twitter {
    padding-top: 15px;
  }

  &--facebook {
    padding-top: 14px;
  }

  &--youtube {
    padding-top: 15px;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 177px;
  }

  .social__item {
    margin: 0;
  }
}
