.social {
  margin-top: 36px;
  margin-bottom: 36px;
}

.social__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 177px;
}

.social__item {
  width: 45px;
  height: 45px;
  text-align: center;
  border: 3px solid #e9ebec;
  border-radius: 50%;

  &:hover {
    border: 3px solid $dark-background;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.social__link {
  display: inline-block;
  vertical-align: middle;
  color: $pink-text;
}

.social__link--twitter {
  padding-top: 8px;
}

.social__link--facebook {
  padding-top: 7px;
}

.social__link--youtube {
  padding-top: 8px;
}

@media (min-width: $tablet-width) {
  .social {
    margin-right: 92px;
  }

  .social__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 177px;
    padding-top: 10px;
  }

  .social__item {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-right: 225px;
  }
}
