@import "normalize";
@import "mixins";
@import "fonts";
@import "visually-hidden";
@import "global";
@import "page-header";
@import "main-nav";
@import "site-list";
@import "promo";
@import "download";
@import "advantages";
@import "intro";
@import "photos";
@import "comment";
@import "like";
@import "page-footer";
@import "social";
@import "copyright";


$dark-background: #283645;
$light-background: #ffffff;
$grey-background:#f2f2f2;
