.switch {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 62px;
  min-height: 6px;
}

.switch__button {
  @include reset-button;
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: #bec3c7;
  border: 3px solid $white;
  border-radius: 50px;
  outline: none;
  cursor: pointer;

  &--active {
    pointer-events: none;
    user-select: none;
    background-color: $white;
    border: 3px solid $dark-background;
    border-radius: 50px;
  }

  &:hover,
  &:focus {
    background-color: $dark-background;
    opacity: 0.6;
  }

  &:active {
    background-color: $dark-background;
    opacity: 0.1;
  }
}
