.text-area {
  border: 2px solid #e5e5e5;
  box-sizing: border-box;

  &::placeholder {
    color: $dark-background;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  &:hover {
    border-color: #000000;
  }

  &:focus,
  &:active {
    outline: none;
    border-color: $pink-text;
  }
}
