.upload-photo {
  padding-top: 14px;
  background-color: $grey-background;
}

.upload-photo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-photo__buttons {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 47px;
  padding-bottom: 41px;
}

.upload-photo__button {
  @include reset-button;
  width: 279px;
  padding-top: 13px;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 65px;
  outline: none;

  &--post {
    color: $pink-text;
    border: 3px solid $pink-text;
  }

  &--cancel {
    margin-top: 12px;
    color: $light-grey;
    border: 3px solid $light-grey;
  }

  &--post:hover,
  &--post:focus {
    color: $white;
    background-color: $pink-text;
  }

  &--post:active {
    color: rgba($color: $white, $alpha: 0.3);
  }

  &--cancel:hover,
  &--cancel:focus {
    color: $dark-grey;
    border-color: $dark-grey;
  }

  &--cancel:active {
    color: rgba($color: $white, $alpha: 0.3);
    background-color: $dark-grey;
    border-color: $dark-grey;
  }
}

@media (min-width: $tablet-width) {
  .upload-photo {
    padding-top: 57px;
  }

  .upload-photo__container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 620px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .upload-photo__image {
    width: 300px;
    height: 400px;
    padding-right: 16px;
  }

  .upload-photo__buttons {
    margin-left: 31px;
    padding-top: 67px;
    padding-bottom: 54px;
  }

  .upload-photo__button {
    width: 260px;
    padding-top: 14px;
    padding-bottom: 15px;

    &--cancel {
      margin-top: 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .upload-photo {
    width: 940px;
    margin: 0 auto;
    padding-top: 53px;
  }

  .upload-photo__container {
    width: 800px;
  }

  .upload-photo__wrapper {
    width: 403px;
    margin-top: 2px;
    margin-left: 68px;
  }

  .upload-photo__image {
    padding-top: 4px;
    padding-right: 0;
    padding-left: 10px;
  }

  .upload-photo__buttons {
    flex-direction: row;
    justify-content: space-between;
    width: 410px;
    margin-left: 22px;
    padding-top: 144px;
    padding-bottom: 57px;
  }

  .upload-photo__button {
    width: 183px;

    &--cancel {
      margin: 0;
    }
  }
}
