$dark-background: #283645;
$white: #ffffff;
$grey-background:#f2f2f2;
$pink-text: #d22856;
$light-grey: #dcdcdc;
$grey: #dedfe1;
$dark-grey: #b5babe;
$grey-1: #8d949b;
$green: #2aab6d;
$dark-green: #1c9b5e;

$mobile-width: 659px;
$tablet-width: 660px;
$desktop-width: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
