@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff") format("woff"),
    url("../fonts/opensansbold.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff") format("woff"),
    url("../fonts/opensanslight.woff2") format("woff2");
}
