html {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  min-width: 320px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: $white;

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }
}

@media (min-width: $tablet-width) {
  .body {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .body {
    width: 1200px;
  }
}
